<div *ngIf="product != null">
    <h2>{{product.name | uppercase}} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div>
      <label for="product-name">Product name: </label>
      <input id="product-name" [(ngModel)]="product.name" placeholder="Product name"/>

      <br>

      <label for="product-price">Product price: </label>
      <input id="product-price" [(ngModel)]="product.price" placeholder="Product price"/>

      <br>

      <label for="product-stock">Product stock: </label>
      <input id="product-stock" [(ngModel)]="product.amount" placeholder="Product stock"/>

      <br>

      <label for="product-rating">Product rating: </label>
      <input id="product-rating" [(ngModel)]="product.rating" placeholder="Product rating"/>
    </div>
  
  </div>

  <button type="button" (click)="backButton()">Go Back</button>
  <button type="button" (click)="saveButton()">Save</button>