
<body>
<button type="button" (click)="backButton()">Go Back</button>
<button type="button" (click)="checkout()">Check out!</button>

<div *ngIf="ifSuceed">
  Checkout Successful!
</div>

<div *ngIf="ifFailed">
  Checkout Failed!
</div>

<ul class="wrapper">
    <div *ngFor="let product of cart">
        <button class="btn-group" routerLink="/user-product-view/{{user?.username}}/{{product.id}}">{{product.name}}
            <label class="amount">Quantity: {{product.amount}}</label>
            <label class="price">Price: ${{product.price}}</label>
        </button>
        <button type="button" class="delete" title="Delete Product" (click)="deleteProduct(product)">x</button>
    </div>
</ul>

</body>
