body {
    margin: 40px;
}
  
.btn-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: inital;
  padding: 20px 24px;
  cursor: pointer; 
  text-align: center;
  background-color: #eee;
  color: black;
}

.btn-group:hover {
background-color: #cacaca;
}

.wrapper {
  padding: 45px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  column-gap: 15px;
  row-gap: 50px;
  background-color: #fff;
  color: #444;
  align-items: center;
}

.amount {
  color: #444;
  border-radius: 5px;
  padding: 2px;
  font-size: 100%;
}

.price {
    color: #444;
    border-radius: 5px;
    padding: 2px;
    font-size: 100%;
}

.delete {
  color: #444;
  border-radius: 5px;
  padding: 2px;
  font-size: 100%;
  width: 200px;
  height: 30px;
}

.delete:hover {
background-color: #cacaca;
}