
<body>
<button type="button" (click)="backButton()">Go Back</button>
<button type="button">Check out!</button>

<ul class="wrapper">
    <div *ngFor="let product of cart">
        <button class="btn-group" routerLink="/product-details/{{product.id}}">{{product.name}}
            <label class="amount">Stock: {{product.amount}}</label>
            <label class="price">Price: ${{product.price}}</label>
        </button>
        <button type="button" class="delete" title="Delete Product" (click)="deleteProduct(product)">x</button>
    </div>
</ul>

</body>
