<style>
    h1 {color: #98b972;}
</style>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="user-login.component.css">  
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="login-form">
      <form>
        <h1>Login</h1>
        <div class="content">
          <div class="input-field">
            <input type="text" id="username-box" placeholder="Username" autocomplete="nope">
          </div>
        </div>
        <div class="action">
            <button type="button" (click)="login()">Submit</button>
        </div>
      </form>
    </div>
    
</body>