<div>
    <label for="new-product">Product name: </label>
    <input id="new-product" #productName />

    <button type="button" class="add-button" (click)="addProduct(productName.value); productName.value=''">
        Add product
    </button>
</div>

<ul class="wrapper">
    <a *ngFor="let product of inventory" routerLink="/product-detail/{{product.id}}"> 
        <div class="box">{{product.name}}</div>
        <div class="amount">Stock: {{product.amount}}</div>
        <div class="price">Price: ${{product.price}}</div>
        <button type="button" class="delete" title="delete product" (click)="deleteProduct(product)">x</button>
    </a>
</ul>