<div *ngIf="user != null">
    <nav>
        <h2><a routerLink="/shopping-cart/{{user?.username}}">Shopping Cart</a></h2>
    </nav>
</div>

    <app-product-search></app-product-search>

    <br><br>

    <h2>Product List: </h2>
    <ul class="wrapper">
        <div *ngFor="let product of inventory"> 
            <button class="btn-group" routerLink="/product-details/{{product.id}}">{{product.name}}
                <label class="amount">Stock: {{product.amount}}</label>
                <label class="price">Price: ${{product.price}}</label>
            </button>
            
        </div>
    </ul>


    
    

    