
<body>
<div *ngIf="product != null">
    <h1>{{product.name}} Details</h1>
    <div><span>id: </span>{{product.id}}</div>
    <div><span>price: </span>${{product.price}}</div>
    <div class="productAmount"><span>Amount: </span> <input type="range" min="1" max={{product.amount}} value="1" class="slider" id="myRange" #amountSelect
        (input)="amountInput(amountSelect.value)"> {{currAmount}}</div>

    <button type="button" (click)="backButton()">Go Back</button>
    <button type="button" (click)="addToCart(product, currAmount)">Add to Cart</button>
    <label [textContent]="this.message"></label>
    <div><span>rating: </span>{{product.avg_rating}}</div>
    <div id="make-rating">
        <div *ngIf="ifDisplay">
            <label for="rating-box">Leave a rating? </label>
            <input #ratingBox id="make-rating" type="number" min="0" max="10"/>
            <button type="button" (click)="addRate(ratingBox.value)">Rate</button>
        </div>
        <div *ngIf="!ifDisplay">
            <span>Thank you for rating</span>
        </div>
    </div>
</div>
</body>
