<div *ngIf="product != null">
    <h2>{{product.name | uppercase}} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div><span>price: </span>${{product.price}}</div>
    <div><span>rating: </span>{{product.rating}}</div>
    <div id="make-rating">
        <label for="rating-box">Leave a rating? </label>
        <input #ratingBox id="make-rating" type="number" min="0" max="10"/>
        <button type="button" (click)="addRate(ratingBox.value)">Rate</button>
    </div>
    <button type="button" (click)="backButton()">Go Back</button>
    <button type="button" (click)="addToCart(product)">Add to Cart</button>
    
    
</div>